body {background: url('matrix.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  font-family: Arial;
  color: White;} 

form {background-color: rgb(20,20,20); width:60%; margin: auto}

h1 {
  font-size: 50px;
  text-align: center;
  background: -webkit-linear-gradient(rgb(25,210,210), rgb(215,150,150));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
p {margin-left: 30px;}


fieldset {
border: 0;
margin: 10px 2px;
padding: 1em 3em;}

input {width:100%; height:5%; margin-bottom: 10px;}

a {text-decoration:none; color:rgb(230,230,230); font-size: 20px; margin-left: 20px; display:block; margin-top: 100px;}
a:hover{color:red; text-decoration:underline;}

button{
  background-color: rgb(10, 210, 10);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 20%
}

button:hover {
  background-color: #2980b9;
}

