section {  margin: 30px 50px auto;
  margin-right: 50px;
  margin-left: 10px;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: rgb(31, 29, 29);}

body {background: linear-gradient(rgb(240,240,255), rgb(150,150,255))}

audio {width:80%; display: inline}

	p{width: 50%; font-size: 15px; font-family: Arial Black;}


h1 {
  font-size: 50px;
  text-align: center;
  background: -webkit-linear-gradient(#aef, #159);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {text-decoration:none; 
  color:rgb(43, 38, 38); 
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-weight: bold;
  margin: 0 auto; 
  text-align: center; 
  display:block; 
  padding: 30px;
  }
a:hover{color:red; text-decoration:underline;}

